## mako

<%page expression_filter="h"/>
<%inherit file="/main.html" />

<%!
from django.utils.translation import gettext as _
%>





<div class="programs-container">

    <div class="programs-header">
        <h1>${_('Programs')}</h1>
    </div>

    <div class="program-grid">
        % if programs:
            % for program in programs:

                <div class="program-card">

                    % if program.get('banner_image'):
                        <img 
                            class="card-img-top"
                            src="${program['banner_image']['large']['url']}" 
                            alt="${program['title']}"
                        >
                    % endif

                    <div class="card-body">

                        <h5 class="program-name">${program['title']}</h5>

                        % if program.get('subtitle'):
                            <p class="text-muted">${program['subtitle']}</p>
                        % endif

                        <a href="/programs/${program['uuid']}/" class="btn btn-brand program-details">
                            ${_('View Details')}
                        </a>

                    </div>

                </div>

            % endfor
        % else:
            <p class="text-center">${_('No programs found.')}</p>
        % endif
    </div>

</div>


